.register-wrap{
    width: 715px;
    margin: 0 auto;
    margin-top: 72px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 61px;
    padding-right: 0px;
}
.register-title{
    margin-bottom: 40px;
}
#register-form > .form-group input{
    width: 200px;
}
.form-group .input-group > #validateCode{
    width: 75px;
}
/*出错时，输入框的样式*/
  input.error{
      border: 1px solid red;
  }
/*出错时，给出的提示信息的样式    默认是出现在输入框的右边，就是他的相邻元素*/
  label.error{
      color: red;
      font-weight: normal;
  }

